/* forms */
.errorMsg, .errorMsg li {
  color: #900 !important;
  font-style: italic;
  font-size: 1.3em;
}
.errorMsg li {
  font-size: 1em;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px !important;
    font-size: 1em;
}
fieldset ul * {
  font-size: 1em;
}
fieldset legend {
  white-space: normal !important;
  display: block;
  width: 100%;
  line-height: 1.2em;
}
fieldset ul {
  margin: 0;
  padding: 0;
}
fieldset ul li {
  list-style: none;
  margin-bottom: 25px !important;
  margin-left: 0 !important;
}
fieldset ul li label {
  display: block;
  margin-bottom: 0;
    width: auto;
    font-weight: bold;
}
fieldset ul li label:has(input[type="checkbox"]), fieldset ul li label:has(input[type="radio"]) {
  font-weight: normal;
}
fieldset ul li p.note {
  font-size: .8em;
  margin-bottom: 0 !important;
}
fieldset ul li input {
  padding: 3px;
  margin-bottom: 10px;
  font-size: 1em;
  border: 1px #ccc solid;
  width: 95%;
  background: transparent;
}
/*
fieldset ul li.checkboxes label:first-of-type, fieldset ul li.radioButtons label:first-of-type {
  padding-bottom: 10px;
}
*/
.checkboxes { columns: 2; gap: 30px; margin-bottom: 20px;}
.checkboxes label { break-inside: avoid;}
fieldset ul li input[type="radio"], fieldset ul li input[type="checkbox"] {
  margin-right: 5px;
  width: auto;
}
fieldset ul li.radioButtons label:not(:first-of-type) {
  width: auto;
  display: inline-block;
  margin-right: 10px;
}
fieldset ul li select {
  width: 95%;
  padding: 3px;
  margin-bottom: 20px;
  font-size: .8em;
}
fieldset ul li select option {
  font-size: 1em;
}
fieldset ul li.selectBox select {
  width: auto !important;
  margin-right: 5px;
}
fieldset ul li textarea {
  width: 95%;
  min-height: 200px;
  padding: 3px;
  font-size: 1em;
  border: 1px #ccc solid;
  background: transparent;
}
fieldset ul li input[type="submit"] {
  background: transparent;
  text-transform: capitalize;
  margin: 0;
    width: auto;
}

input[type="submit"]:hover {
    margin-top: 0;
}

#services { padding-top: 10px; }

#servicesWrapper p {margin-bottom: 20px !important;}
/* end forms */